
  <div class="main-fab empDetail">
    <md-tooltip md-direction="top">
      Add Employee
    </md-tooltip>
    <md-button class="md-fab md-primary md-hue-2" ng-click="empDetail.view($event)">+</md-button>
  </div>

  <md-toolbar layout="column" class="md-mini md-hue-1 empDetail"><span flex="flex"></span>
    <div class="md-toolbar-tools">
      <div layout="row" flex="flex" class="fill-height">
        <div ng-hide="toggleSearch" class="md-toolbar-item md-breadcrumb">
          <span>Employee Detail</span>
        </div>
        <span flex="flex" ng-hide="toggleSearch"></span>
        <md-input-container flex="flex" style="padding-left:88px;" ng-show="toggleSearch">
          <input type="text" ng-model="searchKeyword"/>
        </md-input-container>
        <div layout="row" class="md-toolbar-item md-tools">
          <a  ng-click="toggleSearch = !toggleSearch" class="md-button md-default-theme"><i class="material-icons">search</i></a>
        </div>
      </div>
    </div>
  </md-toolbar>
  <md-tabs flex class="md-primary empDetail" >
    <md-tab label="List" >
      <md-content layout="column" flex="flex" ng-click="toggleSearch=false" layout-padding>
        <md-table>
          <div id="md-table-template">
            <table  class="md-table">
              <thead>
              <tr class="md-table-headers-row">
                <th ng-repeat="h in empDetail.headers" class="md-table-header">
                  <span>{{h.name}}</span>
                </th>
                <th class="md-table-header"></th>
              </tr>
              </thead>
              <tbody>

              <tr ng-repeat="contact in empDetail.contacts | filter: searchKeyword" class="md-table-content-row">
                <td class="md-table-content">{{ contact.id }}</td>
                <td class="md-table-content">{{ contact.name }}</td>
                <td class="md-table-content">{{ contact.email }}</td>
                <td class="md-table-content">{{ contact.salary }}</td>
                <td class="md-table-content">{{ contact.phone }}</td>
                <td>
                  <md-button class="md-icon-button md-primary" aria-label="Edit">
                    <md-tooltip md-direction="left">
                      Edit
                    </md-tooltip>
                    <md-icon md-font-library="material-icons" ng-click="empDetail.edit(contact.id)">mode_edit</md-icon>
                  </md-button>|

                  <md-button class="md-icon-button md-primary" aria-label="Delete">
                    <md-tooltip md-direction="right">
                      Delete
                    </md-tooltip>
                    <md-icon md-font-library="material-icons" ng-click="empDetail.delete($event,contact.id)">delete</md-icon>
                  </md-button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td> <b>Total : {{ empDetail.contacts|sumProduct:'salary' }}</b></td>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </md-table>
      </md-content>
    </md-tab>
    <md-tab label="Grid">
      <md-content class="md-padding" layout="row" layout-wrap layout-align="left start" layout-xs="column" >

        <div flex="50" flex-xs="100" layout="column" ng-repeat="contact in empDetail.contacts">

          <md-card style="text-align: center">

            <md-card-title >
              <md-card-title-text >
                <span class="md-headline" >{{contact.name}}</span>
              </md-card-title-text>
            </md-card-title>

            <md-card-content>
              <md-divider></md-divider>
              <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                <md-icon md-font-library="material-icons">person_outline</md-icon>
              </md-button>

              <md-content><i class="material-icons">email</i> {{contact.email}}</md-content>
              <md-content><i class="material-icons">attach_money</i>  {{contact.salary}}</md-content>
              <md-content><i class="material-icons">perm_phone_msg</i>  {{contact.phone}}</md-content>
            </md-card-content>

            <md-card-actions layout="row" layout-align="center">
              <md-button class="md-icon-button md-primary" aria-label="Edit">
                <md-tooltip md-direction="left">
                  Edit
                </md-tooltip>
                <md-icon md-font-library="material-icons" ng-click="empDetail.view($event,contact.id)">mode_edit</md-icon>
              </md-button>

              <md-button class="md-icon-button md-primary" aria-label="Delete">
                <md-tooltip md-direction="right">
                  Delete
                </md-tooltip>
                <md-icon md-font-library="material-icons" ng-click="empDetail.delete($event,contact.id)">delete</md-icon>
              </md-button>
            </md-card-actions>

          </md-card>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>

<!--<md-card flex>-->
  <!--<md-tabs flex class="md-primary">
    <md-tab label="List" >
      <md-content layout="column"  ng-click="toggleSearch=false" layout-padding>
        <md-list flex>
          <md-item >
            <md-item-content>
              <div class="md-tile-content">
                <md-table>
                  <div id="md-table-template">
                    <table  class="md-table">
                      <thead>
                      <tr class="md-table-headers-row">
                        <th ng-repeat="h in empDetail.headers" class="md-table-header">
                          <span>{{h.name}}</span>
                        </th>
                        <th class="md-table-header"></th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr ng-repeat="contact in empDetail.contacts | filter: searchKeyword" class="md-table-content-row">
                        <td class="md-table-content">{{ contact.id }}</td>
                        <td class="md-table-content">{{ contact.name }}</td>
                        <td class="md-table-content">{{ contact.email }}</td>
                        <td class="md-table-content">{{ contact.salary }}</td>
                        <td class="md-table-content">{{ contact.phone }}</td>
                        <td>
                          <md-button class="md-icon-button md-primary" aria-label="Edit">
                            <md-tooltip md-direction="left">
                              Edit
                            </md-tooltip>
                            <md-icon md-font-library="material-icons" ng-click="empDetail.edit(contact.id)">mode_edit</md-icon>
                          </md-button>|

                          <md-button class="md-icon-button md-primary" aria-label="Delete">
                            <md-tooltip md-direction="right">
                              Delete
                            </md-tooltip>
                            <md-icon md-font-library="material-icons" ng-click="empDetail.delete($event,contact.id)">delete</md-icon>
                          </md-button>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> <b>Total : {{ empDetail.contacts|sumProduct:'salary' }}</b></td>
                        <td></td>
                        <td></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </md-table>
              </div>
            </md-item-content>
            <md-divider></md-divider>
          </md-item>
        </md-list>
      </md-content>
    </md-tab>
    <md-tab label="Grid">
      <md-content layout="column">
        <md-list flex>
          <md-item >
            <md-item-content>
              <md-content class="md-padding" layout="row" layout-wrap layout-align="left start" layout-xs="column" >

              <div flex="50" flex-xs="100" layout="column" ng-repeat="contact in empDetail.contacts">

                <md-card style="text-align: center">

                  <md-card-title >
                    <md-card-title-text >
                      <span class="md-headline" >{{contact.name}}</span>
                    </md-card-title-text>
                  </md-card-title>

                  <md-card-content>
                    <md-divider></md-divider>
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                      <md-icon md-font-library="material-icons">person_outline</md-icon>
                    </md-button>

                    <md-content><i class="material-icons">email</i> {{contact.email}}</md-content>
                    <md-content><i class="material-icons">attach_money</i>  {{contact.salary}}</md-content>
                    <md-content><i class="material-icons">perm_phone_msg</i>  {{contact.phone}}</md-content>
                  </md-card-content>

                  <md-card-actions layout="row" layout-align="center">
                    <md-button class="md-icon-button md-primary" aria-label="Edit">
                      <md-tooltip md-direction="left">
                        Edit
                      </md-tooltip>
                      <md-icon md-font-library="material-icons" ng-click="empDetail.view($event,contact.id)">mode_edit</md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-primary" aria-label="Delete">
                      <md-tooltip md-direction="right">
                        Delete
                      </md-tooltip>
                      <md-icon md-font-library="material-icons" ng-click="empDetail.delete($event,contact.id)">delete</md-icon>
                    </md-button>
                  </md-card-actions>

                </md-card>
              </div>
            </md-content></md-item-content>
          </md-item>
        </md-list>
      </md-content>
    </md-tab>
  </md-tabs>-->
<!--</md-card>-->

<style>

    .main-fab {
      position:absolute;
      top:62px;
    }

  </style>
