.login{
  * { box-sizing:border-box; }
  .form-signin {
    max-width:500px;
    padding: 3em 2em 2em 2em;
    margin: 4em auto;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  }
  .form-signin .form-signin-heading {
    margin-bottom: 10px;
    text-align: center;
  }
}
