<!--<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button ng-click="main.toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h1  class="md-toolbar-tools">Hello</h1>

    <div layout="row" class="md-toolbar-item md-tools">

      <a ng-click="main.signout()" class="md-button md-default-theme">
        <span>{{main.uname}}</span>
        <ng-md-icon icon="settings_power"></ng-md-icon>
      </a>
    </div>
  </div>
</md-toolbar>-->
<div ng-include="'app/header/header.html'"></div>

<div layout="row" flex class="content-wrapper" >
  <md-sidenav  layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >
    <md-list>
      <md-item >
        <a ui-sref="main.Home" style="text-decoration:none;">
          <md-list-item md-ink-ripple="#333" layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="home"></ng-md-icon></div>
            <div class="inset">Home</div>
          </md-list-item>
        </a>
      </md-item>

      <!--<md-item >
        <a ui-sref="main.Employee" style="text-decoration:none;">
          <md-list-item md-ink-ripple="#333" layout="row" layout-align="start center">
            <div class="inset">

              &lt;!&ndash;<md-button class="md-icon-button md-primary">
                <md-icon md-font-library="material-icons">person_outline</md-icon>
              </md-button>&ndash;&gt;
              <ng-md-icon icon="person_outline"></ng-md-icon>

            </div>
            <div class="inset">Employee</div>
          </md-list-item>
        </a>
      </md-item>-->

      <md-item >
        <a ui-sref="main.EmployeeDetail" style="text-decoration:none;">
          <md-list-item md-ink-ripple="#333" layout="row" layout-align="start center">
            <div class="inset"><ng-md-icon icon="group"></ng-md-icon></div>
            <div class="inset">Employees</div>
          </md-list-item>
        </a>
      </md-item>

      <md-item>
        <a ui-sref="main.Directive" style="text-decoration:none;">
          <md-list-item md-ink-ripple="#333" layout="row" layout-align="start center">
            <div class="inset"><ng-md-icon icon="dashboard"></ng-md-icon></div>
            <div class="inset">Directive</div>
          </md-list-item>
        </a>
      </md-item>

      <md-item>
        <a ui-sref="main.movies" style="text-decoration:none;">
          <md-list-item md-ink-ripple="#333" layout="row" layout-align="start center">
            <div class="inset"><ng-md-icon icon="dashboard"></ng-md-icon></div>
            <div class="inset">Movie</div>
          </md-list-item>
        </a>
      </md-item>

      <md-item>
        <a ui-sref="main.Promise" style="text-decoration:none;">
          <md-list-item md-ink-ripple="#333" layout="row" layout-align="start center">
            <div class="inset"><ng-md-icon icon="dashboard"></ng-md-icon></div>
            <div class="inset">Promise</div>
          </md-list-item>
        </a>
      </md-item>

      <md-item class="md-raised md-primary">
       <!-- <md-button class="md-icon-button md-primary" aria-label="Settings">
          <md-icon>dashboard</md-icon>
        </md-button>-->
        <a ui-sref="main.AboutUs" style="text-decoration:none;" >
          <md-list-item md-ink-ripple="#333" layout="row" layout-align="start center">
            <div class="inset"><ng-md-icon icon="dashboard" ></ng-md-icon></div>
            <div class="inset">About Us</div>
          </md-list-item>
        </a>
      </md-item>

    </md-list>
  </md-sidenav>
  <div layout="column" flex class="content-wrapper" id="primary-col" ui-view style="overflow: auto;"></div><!--style="overflow: auto;"-->
</div>
