<!--
<div layout="row" >
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <div>Logo</div>
      </div>
    </md-toolbar>
    <md-list>
      <md-item ng-repeat="item in test.items">
        <a ui-sref="{{item.state}}" style="text-decoration:none;">&lt;!&ndash;ng-click="test.loadPage(item)"&ndash;&gt;
          <md-list-item md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-list-item>
        </a>
      </md-item>
    </md-list>
  </md-sidenav>

  <div layout="column" class="relative" layout-fill role="main">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="test.toggleSidenav('left')" hide-gt-md aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h3>
        Dashboard
      </h3>
      <span flex></span>
    </div>

  </md-toolbar>
</div>


</div>
-->
<!--<md-toolbar>


  <div class="md-toolbar-tools">
    <md-button ng-click="test.toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h3>
      Test
    </h3>
    <span flex></span>
  </div>
</md-toolbar>-->
<md-content layout="column" flex class="md-padding">
  dgsgsg
</md-content>
